<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

  <uses-feature
    android:name="android.hardware.wifi"
    android:required="true" />

  <application>
    <meta-data
      android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
      android:value="com.marioshtika.capacitorchromecast.ChromecastOptionsProvider" />

    <receiver
      android:name="androidx.mediarouter.media.MediaTransferReceiver"
      android:exported="false" />
  </application>
</manifest>
